@import 'common/mixins';

html {
  font-size: 16px;
  //font-size: 1.6vmin;
  //font-size: 2vmin;
  /*font-size: 1.685vmin;*/

  @include pc {
    /*font-size: 16px; */

  }
  @include tablets {
    /* font-size: 14px; */
    font-size: 1.685vmin;
  }
  @include iphone {
    font-size: 12px;

  }
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Istok Web', sans-serif;
  width: 100%;
  height: 100%;
  font-style: normal;

}

#wrapper {
  width: 100%;
  overflow: hidden;
}

.wrap {
  position: relative;
  width: 1150px;
  margin: 0 auto;
}
.clear{
  width: 100%;
  position: relative;
  clear: both;
}
.clear-300{
  width: 100%;
  height: 300px;
  position: relative;
  clear: both;
}
@import 'common/_preloader';
@import 'common/header';
@import 'common/index';
@import 'common/page';
@import 'common/page2';
@import 'common/page4';
@import 'common/footer';





