#gotop
#footer
    #footer_inn.wrap
        #cop
            #cop_inn
                img.dmpag-logo(src='https://priora-herpes.com/wp-content/uploads/2017/10/dmpag-logo.png')
                p   Реклама лекарственного средства. Есть противопоказания и побочные эффекты.
                    | Перед применением обязательно ознакомьтесь с инструкцией и проконсультируйтесь с врачом
                    | Фармакологический надзор: пройдите по
                    a(href='http://www.deltaswiss.eu/uk/contact', rel='noopener', target='_blank')  ссылке
                    | , чтобы сообщить о нежелательной реакции при приеме лекарственного средства
                p   Приора, докозанол 10%, крем 2г
                    | № UA/9636/01/01
                    | Заявитель: Дельта Медикел Промоушнз АГ
                p    Приора/Priora – зарегистрированный товарный знак Дельта Медикел Промоушнз АГ
                #cpline © Delta Medical Promotions AG 2015-2017

        #hw САМОЛЕЧЕНИЕ МОЖЕТ БЫТЬ ОПАСНЫМ ДЛЯ ВАШЕГО ЗДОРОВЬЯ