#header
    #header_inn.wrap
        #logo.big
            a(href='/')
                img(src="/assets/img/logo_big.png")
        .menu-mob
            span
        .menu-container
            ul#menu.menu
                li#menu-item-6.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item
                    a(href='/') Главная
                li#menu-item-7.menu-item.menu-item-type-custom.menu-item-object-custom
                    a(href='/page2.html') Герпес на губах
                li#menu-item-8.menu-item.menu-item-type-custom.menu-item-object-custom
                    a(href='/page3.html') Крем Приора
                li#menu-item-9.menu-item.menu-item-type-custom.menu-item-object-custom.link_where
                    a(href='https://geoapteka.com.ua/priora' target='_blank') Где купить
