block content
include header-home.pug

#wrapper
    #block_1
        #block_1_inn.wrap
            #block_1_img
                #img_bl1
                    #img_bl1_inn
                        img(src='/assets/img/img1.jpg')
                #img_1_dis1
                    img(src='/assets/img/bl1_des1.png')
                #img_1_dis2
                    img(src='/assets/img/grey_lips.png')
            #block_1_content
                #cont_logo
                    img(src='/assets/img/logo_big.png')
                h1 Приора - при первых симптомах герпеса на губах
                #block_1_content__txt Используй крем <b>ПРИОРА</b> при покалывании, зуде или покраснении, чтобы снизить риск проявления видимых симптомов герпеса на губах
                #block_1_buttons
                    a.find(href='https://geoapteka.com.ua/priora' target='_blank')
                        span Найти в аптеке
                    a.more(href='/page3.html')
                        span Узнать больше
                #block_1_dis
                    img(src='/assets/img/bl1_des2.png')
                #block_1_dis2
                    img(src='/assets/img/des_bl1.png')
    #block_2
        #block_2_inn.wrap
            #block_2_left
                h2 Крем Приора – единственный зарегистрированный в Украине препарат с докозанолом
                #block_2_right
                    img(src='/assets/img/priora.jpg')
                .txt Крем <b>Приора</b> – единственный зарегистрированный в Украине препарат с докозанолом, который защищает здоровые клетки от проникновения вируса. Докозанол позволяет избавиться от герпеса на губах быстрее:
                ul
                    li от 4 до 6 дней — при применении при первых симптомах герпеса на губах
                    li максимум 10 дней — при более позднем применении
                a#how_doka.find(href='/page4.html')
                    span УЗНАТЬ, КАК ДЕЙСТВУЕТ ДОКОЗАНОЛ
    #block_3
        #block_3_inn.wrap
            #percent
                #number 70
                    sup
                        span %
            #percent_txt людей на планете – носители вируса простого герпеса. Вирус может «спать» долгое время, никак не проявляя себя
            #block_3_dis
                img(src='/assets/img/bl3_des1.png')
    #block_4
        #block_4_inn.wrap
            h2 К появлению видимых симптомов герпеса на губах могут привести простые причины
            #block_4_icons.swiper-container
                #icons_block.swiper-wrapper
                    .swiper-slide
                        .icons_item
                            img(src='/assets/img/ic1.png')
                            p Стрессы и нагрузки
                        .icons_item
                            img(src='/assets/img/ic2.png')
                            p Переохлаждение
                    .swiper-slide
                        .icons_item
                            img(src='/assets/img/ic3.png')
                            p ОРВИ
                        .icons_item
                            img(src='/assets/img/ic4.png')
                            p Переутомление
                    .swiper-slide
                        .icons_item
                            img(src='/assets/img/ic5.png')
                            p Ультрафиолет
                        .icons_item
                            img(src='/assets/img/ic6.png')
                            p Изменение гормонального фона
                .swiper-pagination
            a.find(href='#')
                span Узнать больше
    #block_5
        #block_5_inn.wrap
            #block_5_left
                img(src='/assets/img/atten.png')
            #block_5_right
                h2 Важно!
                .txt Применяй крем <b>Приора</b> при первых симптомах герпеса на губах, чтобы быстрее избавиться от его видимых проявлений.
                a.find(href='https://geoapteka.com.ua/priora' target='_blank')
                    span Найти в аптеке
    #block_6
        #block_6_inn.wrap
            #block_6_left
                #block_6_left_img
                    img(src='/assets/img/pic6.jpg')
                #des6
                    img(src='/assets/img/des6.png')
                #des6_1
                    img(src='/assets/img/des6_1.png')
            #block_6_right
                h2 Может понадобиться  7-10 дней, что бы справиться с последствиями герпеса. Крем Приора может помочь выздороветь всего за 4-6 дней, если использовать его при первых симптомах
                a.find(href='/page3.html')
                    span Узнать больше
    #block_7
        #block_7_inn.wrap
            #block_7_left
                h2 Средство от герпеса на губах с докозанолом – №1 в США*
                #block_7_right_img
                    img(src='/assets/img/hand.png')
                .txt Крем <b>Приора</b> – единственный зарегистрированный в Украине препарат с докозанолом.
                .txt_dop Узнай где купить крем ПРИОРА по лучшей цене.
                a.find(href='https://geoapteka.com.ua/priora' target='_blank')
                    span Найти лучшую цену
                .note *по обьему продаж средств для лечения герпеса в 2014 году в США
            #block_7_right

include footer.pug