block content
include header.pug

#wrapper
    #block_doka
        #block_doka_inn.wrap
            #block_doka_content
                h1 ДОКОЗАНОЛ - Действующее вещество крема Приора
                #block_doka_icon
                    #doka_icon
                        img(src='/assets/img/icond.png')
                    #doka_txt В 1 г крема Приора содержится 100 мг докозанола. Это действующее вещество, которое не дает вирусу герпеса на губах «победить» здоровые клетки
                .txt
                    p При активизации герпеса вирус проникает сквозь клеточные мембраны клеток-«мишеней» и заставляет их производить все новые и новые вирусы. В последствии заболевшая клетка разрушается и вирусы атакуют соседние клетки.
                    p Докозанол помогает предотвратить слияние вируса и клеточной мембраны. Таким образом, клетки приобретают устойчивость к действию вируса, блокируя его дальнейшее размножение и развитие симптомов.
                a.link_gr(href='/page10.html') Используй крем Приора при первых симптомах герпеса
                #dok_dis1
                    img(src='/assets/img/dok_dis1.png')
                #dok_dis2
                    img(src='/assets/img/dok_dis2.png')
            #block_doka_mg
                img(src='/assets/img/mg100.png')
    #block_sred
        #block_sred_inn.wrap
            #block_sred_content
                h2 Докозанол – средство от герпеса на губах №1 в США**
                #block_sred_img
                    img(src='/assets/img/dok_sred.png')
                .txt Исследование показывает, что Докозанол может существенно сократить время лечения герпеса на губах* и предотвратить развитие его внешних проявлений. Единственный зарегистрированный в Украине препарат, содержащий докозанол, – это <b>Приора</b>, крем от герпеса на губах.
                a.link_gr(href='/page10.html') Используй крем Приора при первых симптомах герпеса
                .note
                    p *Согласно исследованию, среднее время лечения герпеса на губах с помощью Докозанола составляет 3 дня.
                    p **https://www.statista.com/statistics/433667/leading-cold-sore-brands-in-the-us/
            .clear
    #block_clin
        #block_clin_inn.wrap
            #block_clin_content
                h2 Клинические исследования
                .txt
                    p Чтобы оценить эффективность доконазола, действующего вещества крема <b>Приора</b>, были проведены клинические исследования с участием пациентов разного возраста.
                    p Результаты показали, что использование докозанола позволяет ощутимо сократить сроки лечения герпеса на губах –
                        a.link_gr(href='#') до 4 дней*
                a.find(href='/assets/img/3_days.pdf' target='_blank')
                    span Узнать подробнее
                #block_clin_dis
                    img(src='/assets/img/clin_dis.png')
            .clear
    .clear-300
include footer.pug