block content
include header.pug

#wrapper
    #block_header
        #block_header_inn.wrap
            #block_header_content
                #block_header_img
                    #block_header_img__inn
                        img(src='/assets/img/blog_8.jpg')
                    #block_header_img_dis.middle
                        img(src='/assets/img/hedaer_block_dis.png')
                h1 ПРОФИЛАКТИКА ГЕРПЕСА НА ГУБАХ
                .head_txt
                    p Профилактика герпеса на губах – это ваши правильные действия «до»: не допустить обострения болезни и появления ее видимых симптомов!
                #block_header_content_dis
                    img(src='/assets/img/header_content_dis.png')
    #block_content
        #block_content_inn.wrap
            a.back(href='/')
                span вернуться
            h2 Профилактика
            p Красивые, чувственные и соблазнительные губы – неотъемлемая составляющая привлекательного образа. А герпес на губах всегда появляется не вовремя: то накануне вечеринки, то в преддверии долгожданного свидания, а то и вообще перед... свадьбой! Как действовать?
                a.link_gr(href='/page5.html') Ведь причиной обострения герпеса
                | на губах может быть не только простуда - речь идет о множестве факторов: это и нервное напряжение, сильное переутомление, и даже лишние минуты в солярии или на пляже.
            h2 Поэтому в первую очередь повышаем иммунитет, стимулируем наши с вами защитные силы:
            ul
                li релаксом на свежем воздухе
                li регулярным закаливанием;
                li сбалансированным питанием;
                li здоровым сном не менее 7-8 часов в сутки;
                li избеганием стрессов и пребыванием в хорошем настроении.
            p Кроме того, в периоды обострений вирусных инфекций избегайте переохлаждений, столпотворений, контактов с простуженными людьми, тщательно мойте руки, старайтесь хорошо питаться и делать акцент на продуктах с большим содержанием витамина С.
            p Если, несмотря на усилия по профилактике, герпес на губах расцветает регулярно и по малейшему поводу, то может понадобиться консультация врача и прием противовирусных препаратов.
            h2 Что делать при первых симптомах герпеса на губах?
            p Если герпес все-таки атаковал вас, при первых симптомах применяй крем Приора для профилактики появления пузырьков и язв. А в случае развития болезни, крем Приора может сократить время выздоровления до 4 - 6 дней!
            blockquote
                p
                    a(href='#') Снижай риск появления пузырьков
                p
                    a(href='/page10.html') Используй крем Приора при первых симптомах герпеса на губах
            p Излучайте красоту и здоровье! Сияйте роскошной улыбкой! Будьте уверены в себе!


include footer.pug