block content
include header.pug

#wrapper
    #block_header
        #block_header_inn.wrap
            #block_header_content
                #block_header_img
                    #block_header_img__inn
                        img(src='/assets/img/blog_7.jpg')
                    #block_header_img_dis.middle
                        img(src='/assets/img/hedaer_block_dis.png')
                h1 ЛЕЧЕНИЕ ГЕРПЕСА НА ГУБАХ
                .head_txt
                    p Полностью вылечиться от вируса герпеса, увы, невозможно. После заражения он навсегда остается в организме, находясь в “спящем” состоянии.
                    p Дождется ли герпес возможности вырваться наружу и вызвать неприятные внешние симптомы, зависит от иммунитета.
                #block_header_content_dis
                    img(src='/assets/img/header_content_dis.png')
    #block_content
        #block_content_inn.wrap
            a.back(href='/')
                span вернуться
            #dop_links
                #dop_links_left
                    h3 Лечение герпеса на губах сводится к тому, чтобы:
                #dop_links_right
                    ul
                        li а)
                            a.link_gr(href='/page2.html#block_stadii') при первых симптомах
                            | максимально обезвредить инфекцию, не дав ей расцвести на ваших прекрасных губах;
                        li б) укреплять свой иммунитет
                            | не время от времени, а постоянно!
            h2 Лечение герпеса на губах на ранних стадиях
            p В деле лечения герпеса на губах главное –  успеть вовремя! Еще до появления пузырьков нужно начать местное лечение. Крем Приора при использовании при первых симптомах поможет снизить риск появления пузырьков на губах. При частых проявлениях герпеса применяют комплексную терапию, которая должна быть подобрана врачом. Несмотря на это, комплексное лечение герпеса на губах обязательно включает  применение местных средств– мазей, кремов с противовирусным действием.
            h2 Лечение герпеса на губах после появления первых симптомов
            p Что делать, если ситуация запущена и пузырьки на губах уже появились? Страстные поцелуи и широкие улыбки оставим на потом. Сейчас важно не сдаваться и продолжать борьбу! Не вздумайте трогать, а тем более вскрывать образовавшиеся пузырьки – терпеливо ждите, когда они подсохнут и превратятся в корочки.
            p Так же, при появлении пузырьков,  важно не только  строго соблюдать правила личной гигиены (есть и пить только со своей посуды, пользоваться личным полотенцем и так далее) , но и применять крем Приора. После того, как пузырьки подсохли и превратились в корочки, смазывайте их обильно любым увлажняющим средством. Не сдирайте корочки – это замедлит заживление и может оставить шрамы!
            blockquote
                p
                    a(href='/page3.html') Узнайте, как вылечить герпес на губах от 4 до 6 дней
            p Общеукрепляющие  средства и процедуры могут уменьшить риск развития симптомов в следующий раз или ослабить его внешние проявления.
            blockquote
                p
                    a(href='/page8.html') Узнайте больше о профилактике герпеса на губах

include footer.pug