block content
include header.pug

#wrapper
    #block_header
        #block_header_inn.wrap
            #block_header_content
                #block_header_img
                    #block_header_img__inn
                        img(src='/assets/img/blog_1.jpg')
                    #block_header_img_dis
                        img(src='/assets/img/hedaer_block_dis.png')
                h1 Причины герпеса на губах
                .head_txt
                    p Почему появляются высыпания на губах?
                    p Как утверждает медицинская статистика, герпес «дремлет» в организме приблизительно у 70% людей. Однако иногда он «просыпается», провоцируя появление высыпаний и неприятных ощущений. Что к этому приводит?
                #block_header_content_dis
                    img(src='/assets/img/header_content_dis.png')
            .clear
    #block_content
        #block_content_inn.wrap
            a.back(href='/')
                span вернуться
            h2#stres Стрессы и нагрузки
            p Хроническое напряжение негативно сказывается на защитных силах организма: клетки, которые ведут борьбу с вирусами и инфекциями, массово гибнут. Именно затяжные стрессы – одна из главных причин герпеса. Смотрите на жизнь с улыбкой, ограждайте себя от негативных эмоций и избегайте конфликтов.
            h2#pereoch Переохлаждение
            p Чтобы согреться, организм срочно проводит перераспределение ресурсов, и те силы, которые тратились на борьбу с вирусами и другими «злоумышленниками» идут на поддержание температуры тела. В таких обстоятельствах герпес активизируется, не встречая сопротивления, а результат проявляется на губах. Чтобы избежать этого, одевайтесь по погоде, следите за тем, чтобы не замерзнуть. Позаботьтесь и о губах – они не должны пересыхать и обветриваться.
            h2#gormfon Изменение гормонального фона
            p Баланс гормонов нарушается и у мужчин, и у женщин. Причиной может стать прием лекарственных препаратов, нарушение деятельности некоторых внутренних органов, период менопаузы или нарушения менструального цикла у женщин. На фоне изменения уровня гормонов герпес может начать свою активную деятельность. Старайтесь не игнорировать профилактические осмотры и сдачу анализов, не принимайте лекарственных препаратов без назначения доктора, позаботьтесь о полноценном отдыхе. 
            h2#pereutom Переутомление
            p Когда организм ослаблен, вирус герпеса начинает свою разрушительную деятельность, не встречая сопротивления. Чтобы избежать внешних проявлений, старайтесь не переутомляться, качественно и полноценно отдыхайте. Пропивайте витаминно-минеральные курсы не менее двух раз в год, следите за своим рационом.
            h2#ultra Ультрафиолет
            p Под воздействием солнечных лучей кожа теряет необходимую ей влагу, что «бьет» по местному иммунитету. Это одна из причин появления герпетических высыпаний на губах. Активно пользуйтесь гигиеническими помадами для губ, фактор защиты от солнца которых – не менее 15, носите головные уборы и не злоупотребляйте солнечными ваннами.
            h2#orvi ОРВИ
            p Хотя вирусы, которые вызывают высыпания на губах и общее недомогание, разные, они помогают друг другу, ослабляя иммунитет. Если вас «подкосила» простуда, старайтесь больше отдыхать, соблюдать рекомендации врача. Побалуйте себя фруктами и сезонными овощами – так вы снизите риск дополнительных неприятностей и появления ранок на губах.
            blockquote
                p Вовремя начатое лечение герпеса ощутимо ускоряет выздоровление
                p
                    a(href='/page10.html') <b>Купи Приору заранее,</b> чтобы воспользоваться ею при появлении первых симптомов, и будьте здоровы!
            p Излучайте красоту и здоровье! Сияйте роскошной улыбкой! Будьте уверены в себе!

include footer.pug