block content
include header.pug

#wrapper
    #block_gerpes
        #block_gerpes_inn.wrap
            h2 Причины герпеса
            #block_gerpes_icons.swiper-container
                #icons_block.swiper-wrapper
                    .swiper-slide
                        a.icons_item(href='/page5.html')
                            img(src='/assets/img/ic1.png')
                            p Стрессы и нагрузки
                        a.icons_item(href='/page5.html')
                            img(src='/assets/img/ic2.png')
                            p Переохлаждение
                    .swiper-slide
                        a.icons_item(href='/page5.html')
                            img(src='/assets/img/ic3.png')
                            p ОРВИ
                        a.icons_item(href='/page5.html')
                            img(src='/assets/img/ic4.png')
                            p Переутомление
                    .swiper-slide
                        a.icons_item(href='/page5.html')
                            img(src='/assets/img/ic5.png')
                            p Ультрафиолет
                        a.icons_item(href='/page5.html')
                            img(src='/assets/img/ic6.png')
                            p Изменение гормонального фона
                .swiper-pagination
            a.find(href='/page5.html')
                span Узнать больше
    #block_stadii
        #block_stadii_inn.wrap
            h2 Стадии герпеса
            #block_stadii_items
                .block_stadii_half
                    a.block_st(href='/page6.html')
                        span День 1-2
                        img(src='/assets/img/st_1.png')
                        p Покалывание и покраснение
                        .bg_over_blue
                    a.block_st(href='/page6.html')
                        span День 3
                        img(src='/assets/img/st_2.png')
                        p Появление пузырьков
                        .bg_over_yellow
                    a.block_st(href='/page6.html')
                        span День 4
                        img(src='/assets/img/st_3.png')
                        p Образования язвочек
                        .bg_over_teles
                    a.block_st(href='/page6.html')
                        span День 5-8
                        img(src='/assets/img/st_4.png')
                        p Образование корочек и отшелушивание
                        .bg_over_blue
                .block_stadii_half
                    a.block_st.st_big(href='/page6.html')
                        span День 8-10
                        img(src='/assets/img/st_5.png')
                        p Заживление
                        .bg_over_teles
            a.find(href='/page6.html')
                span Узнать больше
    #block_lech
        #block_lech_inn.wrap
            #block_lech_content
                h2 Лечение
                h3 Приора — при первых симптомах герпеса на губах
                #lech_img_block
                    #img_block__inn
                        img(src='/assets/img/lech_img.png')
                    #img_block__bg
                    #img_block__des1
                        img(src='/assets/img/lech_des1.png')
                    #img_block__des2
                        img(src='/assets/img/lech_des2.png')
                .txt
                    p Наносите крем <b>Приора</b> тонким слоем на кожу при покалывании, зуде, покраснении каждые 3 часа. <b>Важно успеть это сделать еще до появления пузырьков.</b>
                    p Не наносите препарат на кожу вокруг глаз и избегайте попадания крема в глаза.
                    p После применения вымойте руки с мылом
                #buttons_lech
                    a.find(href='/page7.html')
                        span Лечение герпеса
                    a.more(href='/page8.html')
                        span Профилактика герпеса
                .note *Курс лечения от 4 до 6 дней
include footer.pug