block content
include header.pug

#wrapper
    #block_header
        #block_header_inn.wrap
            #block_header_content
                #block_header_img
                    #block_header_img__inn
                        img(src='/assets/img/blog_6.jpg')
                    #block_header_img_dis
                        img(src='/assets/img/hedaer_block_dis.png')
                h1 Стадии герпеса на губах
                .head_txt
                    p Как развивается эта болезнь?
                    p Сколько времени проходит от появления едва заметных покалываний до выздоровления?
                    p Что делать на каждой стадии?
                #block_header_content_dis
                    img(src='/assets/img/header_content_dis.png')
    #block_content
        #block_content_inn.wrap
            a.back(href='/')
                span вернуться

            h2 Первый-второй день
            p Это самое начало болезни, когда вирус напоминает о себе лишь легким покалыванием. Губы в месте появления воспалений могут немного отекать или зудеть. Если появляется покраснение – на его месте через день-два образуются характерные высыпания и язвочки.
            p <b>ЧТО ДЕЛАТЬ:</b> если вовремя начать лечение, внешних неэстетичных проявлений можно избежать. Наносите крем Приора при первых симптомах – и вы сможете предотвратить дальнейшее развитие болезни.
            h2 Третий день
            p Болезнь переходит во вторую стадию – именно в это время краснеет кожа и появляются высыпания, образования на губах, которые наполнены жидкостью.
            p <b>ЧТО ДЕЛАТЬ:</b> ни в коем случае не прокалывайте их: заживать ранки будут дольше, могут остаться следы.
            h2 Четвертый день
            p Это самый болезненный этап, когда образуются язвочки на месте лопнувших высыпаний. Жидкость, которая была внутри, попадает на кожу и провоцирует распространение инфекции.
            p <b>ЧТО ДЕЛАТЬ:</b> чаще мойте руки, используя для этого мыло, – так вы предотвратите распространение инфекции. Старайтесь не прикасаться к губам руками.
            h2 Пятый-восьмой день
            p Именно в это время начинается отшелушивание. Язвочки постепенно подсыхают и покрываются корочками. Изнутри тоже идет процесс заживления – ранки становятся менее глубокими.
            p <b>ЧТО ДЕЛАТЬ:</b> не сдирайте корочки, дайте ранкам зажить самостоятельно, и струпы отпадут сами. Это поможет избежать появления шрамов.
            h2 Восьмой-десятый день
            p Окончание вирусной атаки, заживление кожи. Иногда отпадение корочек сопровождается покраснением. Вирус герпеса снова «засыпает» и не тревожит носителя до следующей активизации.
            p <b>ЧТО ДЕЛАТЬ:</b> старайтесь избегать факторов риска, которые провоцируют активизацию герпеса. Заранее купите крем Приора, чтобы начать лечение при первых же симптомах и не допустить появления высыпаний и ранок на губах.
            blockquote
                p
                    a(href='https://geoapteka.com.ua/priora' target='_blank') Приора поможет предотвратить появление ранок и высыпаний на губах.<br><b>Начни лечение вовремя</b>
            p Излучайте красоту и здоровье! Сияйте роскошной улыбкой! Будьте уверены в себе!

include footer.pug