block content
include header.pug

#wrapper
    //#block_header
    //    #block_header_inn.wrap
    //        #block_header_content
    //            #block_header_img
    //                #block_header_img__inn
    //                    img(src='/assets/img/inst.jpg')
    //                #block_header_img_dis.middle
    //                    img(src='/assets/img/hedaer_block_dis.png')
    //            h1 ІНСТРУКЦІЯ
    //            .head_txt
    //                p Інструкція для медичного застосування лікарського засобу
    //            #block_header_content_dis
    //                img(src='/assets/img/header_content_dis.png')
    #block_content
        #block_content_inn.wrap
            .clear-70
            a.back(href='/')
                span вернуться
            h1 Інструкція для медичного застосування лікарського засобу
            h2 Склад:
            p
                i діюча речовина: docosanol;
            p 1 г крему містить докозанолу 100 мг;
            p
                i допоміжні речовини:
                |  сахароза (стеарат та дистеарат), олія мінеральна легка, пропіленгліколь,  спирт бензиловий, вода очищена.
            h2 Лікарська форма. Крем.
            p Основні фізико-хімічні властивості: крем майже білого кольору.
            h2 Фармакотерапевтична група.
            p Хіміотерапевтичні засоби для місцевого застосування. Противірусні засоби. Докозанол. Код АТХ D06B B11.
            h2 Фармакологічні властивості.
            p
                i Фармакодинаміка.
            p Механізм антивірусної активності докозанолу до кінця невідомий. Дослідження in vitro показали, що докозанол впливає на злиття вірусу та клітинної оболонки, таким чином, пригнічуючи внутрішньоклітинне поглинання і реплікацію вірусу. У результаті досліджень in vitro встановлено, що клітини, які перебувають під впливом докозанолу, чинять опір інфікуванню ліпідно-охоплюючими вірусами типу HSV-1(вірус простого герпесу типу 1). Докозанол не чинить дії на неохоплюючі віруси. Фармакокінетика.
            p За умов, що відображають нормальне клінічне застосування лікарського засобу, докозанол не може бути виміряний (межа кількісного визначення, LOQ = 10 нг/мл) у плазмі крові пацієнтів. Докозанол метаболізується у докозанолову кислоту, свій головний метаболіт.  Як докозанол, так і докозанолова кислота є ендогенними компонентами оболонок клітин людини, частково еритроцитів, головного мозку, мієлінових оболонок нерва, легенів і нирок.
            h2 Клінічні характеристики.
            p
                i Показання.
            p Ранні стадії (продромальна або еритемна стадія) рецидивуючої герпетичної інфекції  губ у  пацієнтів з нормальним імунітетом.
            h2 Протипоказання.
            p Підвищена чутливість до докозанолу або до будь-якого іншого компонента лікарського засобу.
            h2 Взаємодія з іншими лікарськими засобами та інші види взаємодій.
            p Досліджень взаємодії не проводилося, тому не слід застосовувати лікарський засіб одночасно з іншими місцевими лікарськими засобами на одному і тому ж місці.
            h2 Особливості застосування.
            p Слід уникати потрапляння крему в очі або на шкіру навколо них. Лікарський засіб містить пропіленгліколь, тому може спричинити подразнення шкіри. Крем не слід застосовувати пацієнтам зі зниженим імунітетом. Не слід розпочинати лікування докозанолом на стадії вже розвинутого пухиря або виразки.
            a.find.instr(href='/assets/img/instruction_ua.pdf' target='_blank')
                span Скачать инструкцию
include footer.pug