#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  &.active {
    background-color: #ffffff;
  }
  @include iphone(){

  }
}
.menu-mob{
  display: none;
  position: absolute;
  z-index: 30;
  right: 15px;
  top: 21px;
  width: 20px;
  height: 13px;
  cursor: pointer;
  & span{
    width: 20px;
    height: 3px;
    background-color: #3e5884;
    display: block;
    transition: 1s;
    &:before{
      transform-origin: 100% 0;
      margin-top: -7px;
      position: absolute;
      content: '';
      width: 20px;
      height: 3px;
      background-color: #3e5884;
      display: block;
      transition: 1s;
    }
    &:after{
      transform-origin: 100% 100%;
      margin-top: 7px;
      position: absolute;
      content: '';
      width: 20px;
      height: 3px;
      background-color: #3e5884;
      display: block;
      transition: 1s;
    }
  }
  &.active{
    & span{
      background: transparent;
      &:before{
        transform: rotate(-45deg);
      }
      &:after{
        transform: rotate(45deg);
      }
    }
  }

  @include iphone(){
    display: block;
  }
}

#header.fixed {
  position: fixed;
  background: #ffffff;
}

#header_inn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #logo {
  padding-top: 15px;
  @include iphone(){
    padding-top: 5px;
    & a img{
      width: 100px;
    }
  }
}

#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Calibri Light", 'Istok Web';
  text-transform: uppercase;
}
.menu-container{
  @include iphone(){
    position: fixed;
    left: 0;
    top: -100%;
    background-color: #b0ebff;
    background-image: url('/assets/img/mob-fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    &.active{
      top:0;
    }
  }
}
.menu-container #menu {
  display: flex;
  justify-content: space-around;
  @include iphone(){
    width: 80%;
    flex-direction: column;
    position: absolute;
    @include centered();
    align-items: center;
  }
}

#menu li {
  padding: 5px 15px;
  @include iphone(){
    margin: 20px 0;
  }
}

#menu li a {
  text-decoration: none;
  color: #132e64;
  transition: all 0.3s ease-in-out;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #f25042;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    color: #f25042;
    &:after {
      opacity: 1;
    }
  }
}

#menu .current-menu-item a {
  color: #f25042;
  &:after {
    width: 100%;
    height: 1px;
    background: #f25042;
    opacity: 1;
  }
}



#menu {
  .link_where {
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    & a{
      &:hover {
        &:after{
          opacity: 0;
        }
      }
    }
  }
}
#header.active #menu .link_where {
  background-image: url('/assets/img/link_where.jpg');
}