#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  &.active {
    background-color: #ffffff;
  }
}

#header.fixed {
  position: fixed;
  background: #ffffff;
}

#header_inn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #logo {
  padding-top: 15px;
}

#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Calibri Light";
  text-transform: uppercase;
}

.menu-container #menu {
  display: flex;
  justify-content: space-around;
}

#menu li {
  padding-left: 30px;
}

#menu li a {
  text-decoration: none;
  color: #132e64;
  transition: all 0.3s ease-in-out;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #f25042;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    color: #f25042;
    &:after {
      opacity: 1;
    }
  }
}

#menu .current-menu-item a {
  color: #f25042;
  &:after {
    width: 100%;
    height: 1px;
    background: #f25042;
    opacity: 1;
  }
}

