#block_crem {
  background-image: url('/assets/img/crem_bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  padding: 100px 0 100px 0;
}

#block_crem_inn {
  display: flex;
  align-items: center;
}

#block_crem_content {
  position: relative;
  z-index: 0;
  width: 690px;
  height: 575px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #ffffff;
  background-image: url('/assets/img/lips_bl1.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

#cont_logo_crem {
  margin-top: 40px;
  width: 100%;
  text-align: right;
  & img {
    width: 100px;
    margin-right: 38px;
  }
}

#block_crem_content h1 {
  font-size: 42px;
  font-weight: 700;
  color: #3e5884;
  text-transform: uppercase;
  text-align: left;
  padding: 0 65px 0 115px;
}

#block_crem_content__txt {
  padding: 0 65px 0 115px;
  font-size: 18px;
  & b {
    color: #3e5884;
  }
}

#block_crem_buttons {
  margin-top: 50px;
}

#block_crem_buttons .find {
  margin: 0 20px 0 115px;
}

#block_crem_dis {
  position: absolute;
  top: 125px;
  right: -15px;
}

#block_crem_dis2 {
  position: absolute;
  right: -55px;
  bottom: -55px;
  z-index: -1;
}

#block_crem_img {
  position: relative;
  width: 475px;
  height: 475px;
  z-index: 10;
}

#img_crem_bl1 {
  position: absolute;
  right: 95px;
  top: 80px;
  z-index: 10;
}

#img_crem_dis1 {
  position: absolute;
  top: 110px;
  left: -65px;
  z-index: -1;
}

#img_crem_dis2 {
  position: absolute;
  bottom: 50px;
  left: 45px;
  z-index: -2;
  transform: rotateZ(30deg);
}

#img_crem_dis3 {
  position: absolute;
  top: -15px;
  left: 45px;
  z-index: -2;
  transform: rotateZ(2deg);
}

#img_crem_dis4 {
  position: absolute;
  top: 73px;
  right: -5px;
  z-index: 0;
  transform: rotateZ(-2deg);
}

#block_sost {
  padding: 100px 0 150px 0;
  & h2 {
    font-family: Calibri;
    font-size: 44px;
    color: #295791;
  }
}

#block_sost_content {
  width: 480px;
}

#block_sost_img {
  position: absolute;
  top: -35%;
  right: 0;
}

#block_sost_forvideo {
  margin-top: 60px;
  display: flex;
  align-items: center;
  & #icon_vid {
    margin-right: 30px;
    cursor: pointer;
  }
}

#block_video {
  padding: 100px 0;
}

#block_video_cont {
  width: 1150px;
  height: 650px;
}

#block_pokaz {
  padding: 100px 0 140px 0;
}

#block_pokaz_inn {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#block_pokaz_img {
  position: relative;
  & #pokaz_dis {
    position: absolute;
    bottom: -20%;
    left: -15%;
  }
}

#block_pokaz_img_inn {
  width: 585px;
  height: 575px;
  overflow: hidden;
  position: relative;
  & img {
    position: absolute;
    @include centered();
    width: 101%;
    transition: all 0.5s ease-in-out;
  }
  &:hover{
    & img{
      width: 110%;
    }
  }
}

#block_pokaz_right {
  & ul {
    list-style-type: none;
    width: 80%;
    position: relative;
    margin-left: 50px;
    padding-left: 30px;
    & h3 {
      font-size: 28px;
      color: #295791;
      margin-bottom: 10px;
    }
    & li {
      margin-left: 30px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 39px;
        height: 39px;
        background-image: url('/assets/img/pokaz_li.png');
      }
      & p {
        margin-top: 10px;
        font-size: 19px;
      }
      & b {
        color: #295791;
      }
    }
  }
  & .find{
    margin: 30px 0 0 100px;
  }
}

#block_question {
  padding: 100px 0 140px 0;
}

.block_question_half {
  width: 50%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.block_sts {
  width: 50%;
  height: 256px;
  position: relative;
  & span {
    font-size: 10px;
    color: #ffffff;
    background-color: #295791;
    padding: 5px 20px;
    z-index: 1;
  }
  & p {
    display: inline-table;
    font-size: 20px;
    color: #4c70ae;
    margin: 5px 0 0 0;
    text-align: left;
    padding: 0 30px;
    position: relative;
    z-index: 10;
    & b {
      font-weight: 700;
    }
  }
  & img {
    z-index: 0;
    position: absolute;
    @include centered();
    width: 101%;
    transition: all 0.5s ease-in-out;
  }
  &.sts_big {
    width: 100%;
    height: 100%;
    & img {
    }
  }
}

.block_sts:hover img {
  width: 110%
}

.bgs_over_blue {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(154, 255, 253, 0.56);
  z-index: 0;
  top:0;
  left:0;
}

.bgs_over_yellow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 255, 130, 0.56);
  z-index: 0;
  top:0;
  left:0;
}

.bgs_over_teles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 217, 213, 0.56);
  z-index: 0;
  top:0;
  left:0;
}
.quest, .answer{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quest {
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
}


.quest_close {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 10;
  cursor: pointer;
  top: 10px;
  right: 10px;
  &:before {
    position: absolute;
    content: '';
    width: 35px;
    height: 1px;
    background-color: #4c70ae;
    display: block;
    transform-origin: 100% 0;
    margin: 5px 0px 0 -5px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
  &:after {
    position: absolute;
    content: '';
    width: 35px;
    height: 1px;
    background-color: #4c70ae;
    display: block;
    transform-origin: 100% 100%;
    margin: 30px 0px 0px -5px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &:after {
      background: #f25042;
    }
    &:before {
      background: #f25042;
    }
  }
}

#stadii_dis1 {
  position: absolute;
  top: 40%;
  right: -120px;
}

#stadii_dis2 {
  position: absolute;
  width: 57px;
  top: -35px;
  left: -35px;
  z-index: -1;
  & img {
    width: 100%;
    height: auto;
  }
}

#stadii_dis3 {
  position: absolute;
  width: 42px;
  bottom: -90px;
  right: -75px;
  z-index: -1;
  transform: rotateZ(15deg);
  & img {
    width: 100%;
    height: auto;
  }
}

.section-blog__menu {
  position: absolute;
  height: 100%;
  width: 55px;
}

.section-blog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  transition: opacity 0.3s ease-in-out;
  &.fixed-position {
    position: fixed;
    height: calc(100% - 135px);
    top: 90px;
  }
  &:before{
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background:#b6b6b6;
    margin-left: 10px;
  }
  &:after{
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background:#b6b6b6;
    margin-left: 10px;
  }
  &.opacity{
    opacity: 0;
  }
}

.section-blog__item {
  width: max-content;
  transform: rotateZ(180deg);
  writing-mode: vertical-lr;
  writing-mode:tb-rl;
  filter:flipH flipV;
  text-align: center;
  padding: 13px 0;
  & a {
    text-decoration: none;
    font-family:"Calibri Light";
    font-size: 16px;
    color: #b6b6b6;
    transition: all 0.3s ease-in-out;
    &:before{
      content: '•';
      display: initial;
      opacity: 0;
      padding-bottom: 5px;
      transition: all 0.3s ease-in-out;
    }
    &:hover{
      color: #858585;
    }
  }
  &.section-blog__item--active{
    & a{
      color: #858585;
      &:before{
        opacity: 1;
      }
    }
  }
}
