#block_header {
  background-image: url(/assets/img/block1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 100px 0 100px 0;
  min-height: 568px;
  @include pc() {
    min-height: 500px;
  }
  @include iphone() {
    min-height: auto;
    padding: 80px 0 50px 0;
    overflow: hidden;
  }
}

#block_header_img {
  width: 480px;
  height: 470px;
  position: absolute;
  left: -430px;
  @include pc() {
    left: auto;
    right: 430px;
    width: 330px;
    height: 320px;
  }
  @include iphone() {
    position: relative;
    right: auto;
    width: calc(100% - 20px);
    padding: 0 10px;
    height: auto;
    margin-top: -165px;
  }
}

#block_header_inn {
  @include iphone() {
    overflow: visible;
    padding-top: 150px;
  }
}

#block_header_img__inn {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  & img {
    position: absolute;
    @include centered();
    width: 101%;
    transition: all 0.5s ease-in-out;
    @include iphone() {
      position: relative;
      width: 100%;
      height: auto;
      top: auto;
      left: auto;
      transform: none;
    }
  }

  &:hover {
    & img {
      width: 110%;
    }
  }
}

#block_header_img_dis {
  position: absolute;
  bottom: -15%;
  left: -15%;
  &.middle {
    bottom: auto;
    top: 32%;
    @include iphone(){
      left: auto;
      right: -30%;
    }
  }
  @include pc() {
    & img {
      width: 70%;
      @include iphone() {
        width: 50%;
      }
    }

  }
  @include iphone() {
    bottom: auto;
    left: -3%;
    top: -6%;
  }
}

#block_header_content_dis {
  position: absolute;
  top: 5%;
  left: -5%;
  z-index: -1;
}

#block_header_content {
  width: 360px;
  float: right;
  background: #ffffff;
  padding: 50px 75px 50px 120px;
  position: relative;
  min-height: 470px;
  z-index: 1;
  @include pc() {
    padding: 50px 30px 50px 95px;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include iphone() {
    width: calc(100% - 40px);
    padding: 0 20px;
    float: none;
  }
  & h1 {
    font-size: 43px;
    color: #3e5884;
    text-transform: uppercase;
    margin-top: 10px;
    @include pc() {
      font-size: 33px;
    }
    @include iphone() {
      font-size: 22px;
      margin: 40px 0 20px 0;
    }
  }
}

#block_content {
  & h1 {
    font-size: 43px;
    color: #3e5884;
    text-transform: uppercase;
    margin: 20px 0;
    @include pc() {
      font-size: 33px;
    }
    @include iphone() {
      font-size: 22px;
    }
  }
  & h2 {
    font-size: 24px;
    color: #f9aec5;
    margin-top: 40px;
    margin-bottom: 0px;
    @include iphone(){
      font-size: 22px;
      margin-top: 20px;
    }
  }
  & p {
    font-size: 17px;
    color: #58595b;
    line-height: 24px;
    width: 100%;
    margin: 7px 0;
    & b {
      color: #3e5884;
    }
    @include iphone(){
      font-size: 14px;
      line-height: normal;
    }
  }
  & blockquote {
    margin: 50px 0;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 125px;
    position: relative;
    & p {
      font-size: 17px;
      color: #f9aec5;
      text-transform: uppercase;
      font-weight: 700;
      @include iphone(){
        font-size: 14px;
        width: auto;
      }
    }
    & a {
      text-decoration: none;
      color: #f9aec5;
      float: left;
      &:hover {
        text-decoration: underline;
      }
      & b {
        color: #3e5884;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 125px;
      height: 101px;
      background-image: url('/assets/img/blockquote.png');
      background-repeat: no-repeat;
      left: 0;
      position: absolute;
      @include centered('y');
      @include iphone(){
        width: 60px;
        height: 60px;
        background-size: cover;
      }
    }
    @include iphone(){
      width: calc(100% - 70px);
      padding-left: 70px;
    }
    @include iphone(){
      margin: 25px 0;
    }
  }
  & ul {
    font-size: 17px;
    color: #58595b;
    line-height: 24px;
    list-style-type: none;
    padding: 0;
    & li {
      margin: 5px 0;
      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-image: url('/assets/img/for_li_cont.jpg');
      }
      &:nth-child(2) {
        &:before {
          background-position: 0px -10px;
        }
      }
      &:nth-child(3) {
        &:before {
          background-position: 0px -20px;
        }
      }
      &:nth-child(4) {
        &:before {
          background-position: 0px -30px;
        }
      }
      &:nth-child(5) {
        &:before {
          background-position: 0px -40px;
        }
      }
      &:nth-child(6) {
        &:before {
          background-position: 0px -30px;
        }
      }
      &:nth-child(7) {
        &:before {
          background-position: 0px -20px;
        }
      }
      &:nth-child(8) {
        &:before {
          background-position: 0px -10px;
        }
      }
      &:nth-child(9) {
        &:before {
          background-position: 0px 0px;
        }
      }
      &:nth-child(10) {
        &:before {
          background-position: 0px -10px;
        }
      }
      &:nth-child(11) {
        &:before {
          background-position: 0px -20px;
        }
      }
      &:nth-child(12) {
        &:before {
          background-position: 0px -30px;
        }
      }
      &:nth-child(13) {
        &:before {
          background-position: 0px -40px;
        }
      }
      &:nth-child(14) {
        &:before {
          background-position: 0px -30px;
        }
      }
      &:nth-child(15) {
        &:before {
          background-position: 0px -20px;
        }
      }
      &:nth-child(16) {
        &:before {
          background-position: 0px -10px;
        }
      }
      &:nth-child(17) {
        &:before {
          background-position: 0px 0px;
        }
      }
    }
  }
}

#block_content_inn {
  position: relative;
  padding: 100px 0;
  @include pc() {
    padding: 70px 0;
  }
  @include iphone(){
    padding: 25px 0;
  }
  &:before {
    content: '';
    display: block;
    background-image: url('/assets/img/content_dis.png');
    width: 460px;
    height: 225px;
    position: absolute;
    right: -230px;
    z-index: -1;
    top: 40%;
    @include iphone(){
      right: -100%;
    }
  }
}

.head_txt {
  font-size: 24px;
  color: #295791;
  @include pc() {
    font-size: 20px;
  }
  @include iphone() {
    font-size: 14px;
  }
}

.back {
  color: #3e5884;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: 3px solid #b0ecff;
  padding: 17px 45px;
  border-radius: 35px;
  display: flex;
  width: fit-content;
  overflow: hidden;
  margin-bottom: 45px;
  display: inline-flex;
  @include pc() {
    margin-bottom: 45px;
  }
  @include iphone(){
    display: inline-flex;
    justify-content: center;
    width: calc(100% - 96px);
    margin-bottom: 25px;
  }
  & span {
    top: 0;
    position: relative;
    animation: button-animation-reverse .3s;
    opacity: 1;
  }
  &:hover {
    & span {
      animation: button-animation .6s;
    }
  }
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 18px;
    background-image: url('/assets/img/bef_link.png');
    margin: -1px 20px 0 0;
  }
}

#dop_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
  @include iphone(){
    flex-direction: column;
    margin: 25px 0;
  }
}
.find{
  &.instr{
    margin-top: 30px;
    @include iphone(){
      display: block;
    }
  }
}
#mapgeo{
  margin-top: 50px;
}
iframe .balloon-wrapper .balloon-content {
  border: 3px solid #3d5884;
}
#dop_links_left {
  width: 280px;
  & h3 {
    color: #f9aec5;
    font-size: 24px;
    text-transform: uppercase;
    @include iphone(){
      font-size: 22px;
    }
  }
  @include iphone(){
    width: 100%;
  }
}

#dop_links_right {
  width: 55%;
  & ul {
    list-style-type: none;
    color: #58595b;
    font-size: 17px;
    @include iphone(){
      font-size: 14px;
      line-height: normal;
    }
    & li {
      margin-bottom: 10px;
      &:before {
        content: none;
      }
    }
  }
  & a {
    display: inline-block;
    @include iphone(){
      text-align: left;
      font-size: 14px;
    }
  }
  @include iphone(){
  width: 100%;
}
}