#block_doka {
  padding: 140px 0;
  background-image: url('/assets/img/block_doka.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#block_doka_content {
  position: relative;
  width: 670px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 90px 90px 90px;
  & h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #3e5884;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  & .link_gr {
    margin-top: 60px;
  }
  & .txt {
    width: 90%;
  }
}

#block_doka_icon {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

#doka_txt {
  color: #fb9fa0;
  font-size: 20px;
  font-weight: 700;
  width: 50%;
  margin-left: 50px;
}

.link_gr {
  color: #3e5884;
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-image: url(/assets/img/line_gr.svg);
  background-position-y: 7px;
  background-repeat: round;
  &:hover{
    color: #f25042;
  }


}

#block_doka_mg {
  position: absolute;
  top: -75px;
  right: -190px;
}
#dok_dis1{
  top: 50px;
  position: absolute;
  left: -35px;
}
#dok_dis2{
  position: absolute;
  top: 60%;
  left: -65px;
}
#block_sred{
  padding: 140px 0;
}
#block_sred_img{
  position: absolute;
  left: -120px;
  top: -70px;
  z-index: -1;
}
#block_sred_content{
  width: 625px;
  float: right;
  & h2{
    font-size: 42px;
    color: #295791;
    margin-bottom: 100px;

  }
  & .link_gr{
    margin-top:140px;
  }
}
#block_clin{
  padding: 100px 0;
  background-image: url('/assets/img/clin_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
#block_clin_content{
  width: 49%;
  float: right;
  & h2{
    font-size:60px;
    color: #295791;
  }
  & p{
    color: #295791;
  }
}
#block_clin_dis{
  position: absolute;
  top:0;
  left: 75px;
}