#block_crem {
  background-image: url('/assets/img/crem_bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  padding: 100px 0 100px 0;
  background-size: cover;
  @include iphone(){
    padding-top: 55px;
    padding-bottom: 50px;
  }
}

#block_crem_inn {
  display: flex;
  align-items: center;
  @include iphone(){
    flex-direction: column;
    overflow: visible;
  }
}

#block_crem_content {
  position: relative;
  z-index: 0;
  width: 690px;
  height: 575px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #ffffff;
  background-image: url('/assets/img/lips_bl1.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  @include pc(){
    height: auto;
  }
  @include iphone(){
    width: 100%;
  }
}

#cont_logo_crem {
  margin-top: 40px;
  width: 100%;
  text-align: right;
  & img {
    width: 100px;
    margin-right: 38px;
  }
  @include iphone(){
    display: none;
  }
}

#block_crem_content h1 {
  font-size: 42px;
  font-weight: 700;
  color: #3e5884;
  text-transform: uppercase;
  text-align: left;
  padding: 0 65px 0 115px;
  @include pc(){
    font-size: 32px;
    padding: 0 30px 0 95px;
  }
  @include iphone(){
    font-size: 22px;
    padding: 0 20px;
  }
}

#block_crem_content__txt {
  padding: 0 65px 0 115px;
  font-size: 18px;
  @include pc(){
    padding: 0 30px 0 95px;
  }
  & b {
    color: #3e5884;
  }
  @include iphone(){
    padding: 0 20px;
    font-size: 14px;
  }
}

#block_crem_buttons {
  margin-top: 50px;
  @include iphone(){
    margin-top: 25px;
  }
}

#block_crem_buttons .find {
  margin: 0 20px 0 115px;
  @include pc(){
    margin: 0 20px 30px 115px;
  }
  @include iphone(){
    margin: 0 20px 20px 20px;
    display: block;
  }
}

#block_crem_dis {
  position: absolute;
  top: 125px;
  right: -15px;
}

#block_crem_dis2 {
  position: absolute;
  right: -55px;
  bottom: -55px;
  z-index: -1;
  @include iphone(){
    & img{
      width: 100%;
    }
  }
}

#block_crem_img {
  position: relative;
  width: 475px;
  height: 475px;
  z-index: 10;
  @include iphone(){
    width: 100%;
    height: 185px;
    z-index: 0;
  }
}

#img_crem_bl1 {
  position: absolute;
  right: 95px;
  top: 80px;
  z-index: 10;
  @include pc(){
    right: 50px;
    & .tube{
      width: 130%;
    }
    @include iphone(){
      top: 15px;
      & .tube{
        width: 120%;
      }
    }
  }
}

#img_crem_dis1 {
  position: absolute;
  top: 110px;
  left: -65px;
  z-index: -1;
  @include pc(){
    & img{
      width: 130%;
    }
    @include iphone(){
      top: 80px;
      left: -170px;
      & img{
        height: 35px;
        width: auto;
      }

    }
  }
}

#img_crem_dis2 {
  position: absolute;
  bottom: 50px;
  left: 45px;
  z-index: -2;
  transform: rotateZ(30deg);
}

#img_crem_dis3 {
  position: absolute;
  top: -15px;
  left: 45px;
  z-index: -2;
  transform: rotateZ(2deg);
}

#img_crem_dis4 {
  position: absolute;
  top: 73px;
  right: -5px;
  z-index: 0;
  transform: rotateZ(-2deg);
  @include pc(){
    top: 48px;
    right: -25px;
  }
}

#block_sost {
  padding: 100px 0 150px 0;
  & h2 {
    font-family: Calibri, 'Istok Web';
    font-size: 44px;
    color: #295791;
    @include pc(){
      font-size: 34px;
    }
    @include iphone(){
      font-size: 22px;
    }
  }
  @include iphone(){
    padding: 25px 0 30px 0;
  }
}

#block_sost_content {
  width: 480px;
  @include iphone(){
    width: 100%;
  }
}

#block_sost_img {
  position: absolute;
  top: -35%;
  right: 0;
  @include pc(){
    right: -35%;
    & img{
      width: 70%;
    }
  }
  @include iphone(){
    position: relative;
    right: auto;
    top: auto;
    & img{
      width: 100%;
      margin-top: -60px;
    }
  }
}

#block_sost_forvideo {
  margin-top: 60px;
  display: flex;
  align-items: center;
  & #icon_vid {
    margin-right: 30px;
    cursor: pointer;
  }
}

#block_video {
  padding: 100px 0;
  @include pc(){
    padding: 50px 0;
  }
  @include iphone(){
    padding: 25px 0;
  }
}

#block_video_cont {
  width: 1150px;
  height: 650px;
  height: 65vh;
  @include pc(){
    width: 768px;
    height: 434px;
  }
  @include iphone(){
    width: 100%;
    height: 100%;
  }
}

#block_pokaz {
  padding: 100px 0 140px 0;
  @include pc(){
    padding: 50px 0 70px 0;
  }
  @include iphone(){
    padding: 25px 0 30px 0;
  }
}

#block_pokaz_inn {
  display: flex;
  align-items: center;
  justify-content: space-around;
@include pc(){
  align-items: flex-start;
}
  @include iphone(){
    flex-direction: column;
  }
}

#block_pokaz_img {
  position: relative;
  & #pokaz_dis {
    position: absolute;
    bottom: -20%;
    left: -15%;
    @include pc(){
      & img{
        width: 70%;
      }
      @include iphone(){
        left: -3%;
      }
    }
  }
}

#block_pokaz_img_inn {
  width: 585px;
  height: 575px;
  overflow: hidden;
  position: relative;

  & img {
    position: absolute;
    @include centered();
    width: 101%;
    transition: all 0.5s ease-in-out;
    @include iphone(){
      position: relative;
      width: 100%;
      height: auto;
      transform: none;
      top: 0;
      left: 0;
    }
  }
  &:hover{
    & img{
      width: 110%;
    }
  }
  @include pc(){
    width: 335px;
    height:325px;
  }
  @include iphone(){
       width: 100%;
       height: auto;
     }
}

#block_pokaz_right {
  & ul {
    list-style-type: none;
    width: 80%;
    position: relative;
    margin-left: 50px;
    padding-left: 30px;
    @include pc(){
      margin-left: 30px;
      margin-top: 0;
    }
    @include iphone(){
      margin-left: 0;
      margin-top: 90px;
      width: calc(100% - 30px);
    }
    & h3 {
      font-size: 28px;
      color: #295791;
      margin-bottom: 10px;
      @include pc(){
        font-size: 26px;
        margin-top: 0;
      }
      @include iphone(){
        font-size: 16px;
      }
    }
    & li {
      margin-left: 30px;
      @include pc(){
        margin-left: 20px;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 39px;
        height: 39px;
        background-image: url('/assets/img/pokaz_li.png');
        @include pc(){
          width: 30px;
          height:30px;
          background-size: cover;
        }
      }
      & p {
        margin-top: 10px;
        font-size: 19px;
        @include pc(){
          font-size: 18px;
        }
      @include iphone(){
        font-size: 14px;
      }
      }
      & b {
        color: #295791;
      }
    }
  }
  & .find{
    margin: 30px 0 0 100px;
    @include iphone(){
      margin: 30px auto;
      display: block;
    }
  }

}

#block_question {
  padding: 100px 0 140px 0;
  @include pc(){
    padding: 50px 0 70px 0;
  }
  @include iphone(){
    padding: 25px 0 ;
  }
}
#block_question_inn{
  overflow: visible;
}
.block_question_half {
  width: 50%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @include pc(){
    width: 100%;
  }
  @include iphone(){
    flex-direction: column;
  }
}

.block_sts {
  width: 50%;
  height: 256px;
  position: relative;
  @include pc(){
    height: 290px;
  }
  @include iphone(){
    width: 100%;
    height: 245px;
  }
  & span {
    font-size: 10px;
    color: #ffffff;
    background-color: #295791;
    padding: 5px 20px;
    z-index: 1;
  }
  & p {
    display: inline-table;
    font-size: 20px;
    color: #4c70ae;
    margin: 5px 0 0 0;
    text-align: left;
    padding: 0 30px;
    position: relative;
    z-index: 10;

    & b {
      font-weight: 700;
    }
  }
  & img {
    z-index: 0;
    position: absolute;
    @include centered();
    width: 101%;
    transition: all 0.5s ease-in-out;
  }
  &.sts_big {
    width: 100%;
    min-height: 512px;
    height: 100%;
    @include pc(){
      min-height: 455px;
    }
    @include iphone(){
      min-height: 245px;
    }
    & img {
    }
  }
}

.block_sts:hover img {
  width: 110%
}

.bgs_over_blue {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(154, 255, 253, 0.56);
  z-index: 0;
  top:0;
  left:0;
}

.bgs_over_yellow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 255, 130, 0.56);
  z-index: 0;
  top:0;
  left:0;
}

.bgs_over_teles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 217, 213, 0.56);
  z-index: 0;
  top:0;
  left:0;
}
.quest, .answer{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quest {
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
}

.quest_close {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 10;
  cursor: pointer;
  top: 10px;
  right: 10px;
  &:before {
    position: absolute;
    content: '';
    width: 35px;
    height: 1px;
    background-color: #4c70ae;
    display: block;
    transform-origin: 100% 0;
    margin: 5px 0px 0 -5px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
  &:after {
    position: absolute;
    content: '';
    width: 35px;
    height: 1px;
    background-color: #4c70ae;
    display: block;
    transform-origin: 100% 100%;
    margin: 30px 0px 0px -5px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &:after {
      background: #f25042;
    }
    &:before {
      background: #f25042;
    }
  }
}
#block_question_items{
  display: flex;
  position: relative;
  width: 100%;
@include pc(){
  flex-direction: column;
}
}
#stadii_dis1 {
  position: absolute;
  top: 40%;
  right: -120px;
  @include iphone(){
    display: none;
  }
}

#stadii_dis2 {
  position: absolute;
  width: 57px;
  top: -35px;
  left: -35px;
  z-index: -1;
  & img {
    width: 100%;
    height: auto;
  }
  @include iphone(){
    display: none;
  }
}

#stadii_dis3 {
  position: absolute;
  width: 42px;
  bottom: -90px;
  right: -75px;
  z-index: -1;
  transform: rotateZ(15deg);
  & img {
    width: 100%;
    height: auto;
  }
  @include iphone(){
    display: none;
  }
}

.section-blog__menu {
  position: absolute;
  height: 100%;
  width: 55px;
  @include iphone(){
    position: fixed;
    height: 100%;
    width: 80%;
    top:0;
    left: -80%;
    background: #bce7fd;
    z-index: 20;
    transition: all 0.5s ease-in-out;
    &.active{
      left: 0;
    }
    & span{
      background-color: #bce7fd;
      background-image: url('/assets/img/rect.png');
      width: 45px;
      height: 55px;
      border-radius: 50%;
      display: block;
      position: absolute;
      @include centered('y');
      right: -20px;
      background-repeat: no-repeat;
      background-position: center center;
      background-position: 30px 20px;
    }
  }
}

.section-blog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  transition: opacity 0.3s ease-in-out;
  &.fixed-position {
    position: fixed;
    height: calc(100% - 135px);
    top: 90px;
  }
  &:before{
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background:#b6b6b6;
    margin-left: 10px;
    @include iphone(){
      display: none;
    }
  }
  &:after{
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background:#b6b6b6;
    margin-left: 10px;
    @include iphone(){
      display: none;
    }
  }
  &.opacity{
    opacity: 0;
    @include iphone(){
      opacity: 1;
    }
  }
  @include iphone(){
    position: absolute;
    @include centered('y');
  }
}
.blog_out{
  @include iphone(){
    width: 100%;
    height: 100%;
  }
}
.section-blog__item {
  width: max-content;
  transform: rotateZ(180deg);
  writing-mode: vertical-lr;
  writing-mode:tb-rl;
  filter:flipH flipV;
  text-align: center;
  padding: 11px 0;
  & a {
    text-decoration: none;
    font-family:"Calibri Light", 'Istok Web';
    font-size: 16px;
    color: #b6b6b6;
    transition: all 0.3s ease-in-out;
    @include iphone(){
      color: #132e64;
      &:before{
        display: none!important;
      }
    }
    &:before{
      content: '•';
      display: initial;
      opacity: 0;
      padding-bottom: 5px;
      transition: all 0.3s ease-in-out;
    }
    &:hover{
      color: #858585;
      @include iphone(){
        color: #f25042;
      }
    }
  }
  &.section-blog__item--active{
    & a{
      color: #858585;
      &:before{
        opacity: 1;
      }
      @include iphone(){
        color: #f25042;
        text-decoration: underline;
        &:before{
          display: none;
        }
      }
    }
  }
  @include iphone(){
    writing-mode: initial;
    transform: none;
    filter: none;
  }
}
