#block_header {
  background-image: url(/assets/img/block1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 100px 0 100px 0;
  min-height: 568px;
}

#block_header_img {
  width: 480px;
  height: 470px;
  position: absolute;
  left: -430px;
}

#block_header_img__inn {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  & img {
    position: absolute;
    @include centered();
    width: 101%;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    & img {
      width: 110%;
    }
  }
}

#block_header_img_dis {
  position: absolute;
  bottom: -15%;
  left: -15%;
  &.middle {
    bottom: auto;
    top: 32%;
  }
}

#block_header_content_dis {
  position: absolute;
  top: 5%;
  left: -5%;
  z-index: -1;
}

#block_header_content {
  width: 360px;
  float: right;
  background: #ffffff;
  padding: 50px 75px 50px 120px;
  position: relative;
  min-height: 470px;
  z-index: 1;
  & h1 {
    font-size: 43px;
    color: #3e5884;
    text-transform: uppercase;
    margin-top: 10px;
  }
}

#block_content {
  & h2 {
    font-size: 24px;
    color: #f9aec5;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  & p {
    font-size: 17px;
    color: #58595b;
    line-height: 24px;
    width: 100%;
    margin: 7px 0;
    & b {
      color: #3e5884;
    }
  }
  & blockquote {
    margin: 50px 0;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 125px;
    position: relative;
    & p {
      font-size: 17px;
      color: #f9aec5;
      text-transform: uppercase;
      font-weight: 700;
    }
    & a {
      text-decoration: none;
      color: #f9aec5;
      float: left;
      //margin-bottom: 20px;
      &:hover {
        text-decoration: underline;
      }
      & b {
        color: #3e5884;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 125px;
      height: 101px;
      background-image: url('/assets/img/blockquote.png');
      background-repeat: no-repeat;
      left: 0;
      position: absolute;
      @include centered('y');
    }
  }
  & ul {
    font-size: 17px;
    color: #58595b;
    line-height: 24px;
    list-style-type: none;
    padding: 0;
    & li{
      margin: 5px 0;
      &:before{
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-image: url('/assets/img/for_li_cont.jpg');
      }
      &:nth-child(2){
        &:before {
          background-position: 0px -10px;
        }
      }
      &:nth-child(3){
        &:before {
          background-position: 0px -20px;
        }
      }
      &:nth-child(4){
        &:before {
          background-position: 0px -30px;
        }
      }
      &:nth-child(5){
        &:before {
          background-position: 0px -40px;
        }
      }
      &:nth-child(6){
        &:before {
          background-position: 0px -30px;
        }
      }
      &:nth-child(7){
        &:before {
          background-position: 0px -20px;
        }
      }
      &:nth-child(8){
        &:before {
          background-position: 0px -10px;
        }
      }
      &:nth-child(9){
        &:before {
          background-position: 0px 0px;
        }
      }
      &:nth-child(10){
        &:before {
          background-position: 0px -10px;
        }
      }
      &:nth-child(11){
        &:before {
          background-position: 0px -20px;
        }
      }
      &:nth-child(12){
        &:before {
          background-position: 0px -30px;
        }
      }
      &:nth-child(13){
        &:before {
          background-position: 0px -40px;
        }
      }
      &:nth-child(14){
        &:before {
          background-position: 0px -30px;
        }
      }
      &:nth-child(15){
        &:before {
          background-position: 0px -20px;
        }
      }
      &:nth-child(16){
        &:before {
          background-position: 0px -10px;
        }
      }
      &:nth-child(17){
        &:before {
          background-position: 0px 0px;
        }
      }
    }
  }
}

#block_content_inn {
  position: relative;
  padding: 140px 0;
  &:before{
    content: '';
    display: block;
    background-image: url('/assets/img/content_dis.png');
    width: 460px;
    height: 225px;
    position: absolute;
    right: -230px;
    z-index: -1;
    top: 40%;
  }
}

.head_txt {
  font-size: 24px;
  color: #295791;
}

.back {
  color: #3e5884;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: 3px solid #b0ecff;
  padding: 17px 45px;
  border-radius: 35px;
  display: flex;
  width: fit-content;
  overflow: hidden;
  margin-bottom: 90px;
  display: inline-flex;
  & span {
    top: 0;
    position: relative;
    animation: button-animation-reverse .3s;
    opacity: 1;
  }
  &:hover {
    & span {
      animation: button-animation .6s;
    }
  }
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 18px;
    background-image: url('/assets/img/bef_link.png');
    margin: -1px 20px 0 0;
  }
}

#dop_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
}

#dop_links_left {
  width: 280px;
  & h3 {
    color: #f9aec5;
    font-size: 24px;
    text-transform: uppercase;
  }
}

#dop_links_right {
  width: 55%;
  & ul {
    list-style-type: none;
    color: #58595b;
    font-size: 17px;
    & li {
      margin-bottom: 10px;
      &:before{
        content: none;
      }
    }
  }
  & a {
    display: inline-block;
  }
}